__MACOSX**
*.pem
.DS_Store
*.key
.ipynb_checkpoints
__pycache__
log**
*.log
tmp**
*.tmp
save**
*.save
*.pbix
test**
*.jpg
cam**.jpg
Cam**.jpg
*.pkl
imtools.*
image_play.*
Data_set_1**
*.ipynb
**-log.txt
*.xlsx
*.txt
*.csv
**ipynb_checkpoints**
papers/*
images/*
data/*
